.Performance {
    grid-column: 2;
    grid-row: 2;
    background-color: #000000;
    aspect-ratio: 1/1;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding: 0.3rem;
    font-size: 0.8rem;
    border-radius: 5px;
}

.Performance__chart {
    grid-column: 1;
    grid-row: 1;
    z-index: 20;
}