.Dashboard {
    grid-column: 2;
    grid-row: 2;
    color: #000000;
    padding: 0 10rem;
}
.Dashboard__header {
    padding: 2rem 0 2rem 0;
    font-size: 1.5rem;

}
.ChartsBoard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
    gap:2rem;

    max-height: 60%;
}
.congratulation {
    font-weight: 400;
    font-size: 1rem;
}
.nameUser {
    color: #E60000;
}