.Dashboard {
    grid-column: 2;
    grid-row: 2;
    color: #000000;
    padding: 0 10rem;
}
.Dashboard__header {
    padding: 2rem 0 3rem 0;

}
.ChartsBoard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:   1fr 1fr;
    gap:2rem;

    
    width: 100%;
    /* height: 80hv; */
    max-height: 60%;
    /* padding-bottom: 3rem; */
}