.VerticalNavBar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    background-color: #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    grid-row: 2;
    grid-column: 1;
}
.NavBar--vertical {
    display: flex;
    gap: 3rem;
    flex-direction: column;
    align-items: center;
}
.NavLink--vertical {
    color: #FFFFFF;
    text-decoration: none;
}