.page500__message{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.page500__link{
    text-decoration: none;
    color: #E60000;
    cursor: pointer;
}