.Activities {
    display: block;
    background-color: #FBFBFB;
    grid-column: 1 / span 3;
    grid-row: 1;
    border-radius: 5px;
}

.Activities__chart {
    width: 100%
}
.Activities__legend {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 1rem 0 0 2rem;
    font-size: .9rem;
    color: #74798C;
}
.Activities__title {
    margin:0;
    font-size: 1rem;
    color: #000000;
}

.legend__wrapper {
    display: flex;
    align-items: baseline;
    gap: 1rem;
    flex-direction: row;
}
.legend__legend {
   
    display: block;
    padding-right: 1.5rem;
}
.legend__color {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}