.Activities {
    display: block;
    background-color: #FBFBFB;
    grid-column: 1 / span 3;
    grid-row: 1;
    border-radius: 5px;
}

.Activities__chart {
    width: 100%
}
.Activities__legend {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0 0 2rem
}
.Activities__title {
    margin:0;
}

.legend__wrapper {
    display: flex;
    /* justify-content: flex-end; */
    align-items: center;
    gap: 1rem;
    flex-direction: row;
    padding: 1rem 1.5rem;
    /* width:100%; */
}
.legend__legend {
   
    display: block;
    padding-right: 1.5rem;
}
.legend__color {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}